name: Print Message

on:
  push:
    branches:
      - 'main'

jobs:
  print-message:
    runs-on: ubuntu-latest

    steps:
      - name: Print Message
        run: echo "New Push detected on main branch